/* Genel Sayfa Stili */
body {
  font-family: "Sour Gummy", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/library.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #9e9e9e;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><text y="24" font-size="24">📙</text></svg>'),
    auto;
}

/* Navbar Stili */
.navbar {
  background-color: transparent; /* Başlangıçta şeffaf */
  padding: 15px 30px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Navbarın üstte kalması için */
  transition: background-color 0.3s ease, opacity 0.5s ease; /* Renk ve opaklık geçişleri */
  opacity: 1; /* Başlangıçta görünür */
}

/* Navbar linkleri */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item .nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff9800; /* Link üzerine gelindiğinde renk değişimi */
}
